.cstm-fa-position{
    top:22px !important;
}

.cstm-fa-position-2{
    left:15px !important;
}

.cstm-fa-position-3{
    top:-3px !important;
    right:72px !important;
}

.cstm-fa-position-wo-label{
    top:-2px !important;
}

.cstm-fa-valid{
    color:green !important;
}

.cstm-fa-invalid{
    color:darkred !important;
}

.cstm-error-message{
    color:darkred;
    font-size:10px;
}
